/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

/* Variables CSS */
:root {
    /* Default Colors */
    --primary-color: #3A3A3A;
    --secondary-color: #E02C6D;
    --light-color: #FFFFFF;
    --light-gray-color: #6C6C6C;
    --footer-bg-color: #0A0826;

    /* Font and Typo */
    --large-heading: 52px;
    --medium-heding: 38px;
    --small-heading: 28px;
    --x-small-heading: 24px;
    --body-text: 16px;
    --small-text: 14px;

    /* Box Shadow */
    --shadow-color: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

/* Layout and Base CSS */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 600;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

p {
    margin-bottom: 15px;
}

h1 {
    font-size: var(--large-heading);
    line-height: 70px;
    font-weight: 700;
    margin-bottom: 15px;
}

h2 {
    font-size: var(--medium-heding);
    line-height: 60px;
    font-weight: 700;
    margin-bottom: 10px;
}

h3 {
    font-size: var(--small-heading);
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 8px;
}

h4 {
    font-size: var(--x-small-heading);
    line-height: 40px;
    font-weight: 500;
    margin-bottom: 5px;
}

.button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: var(--secondary-color);
    padding: 10px 24px;
    color: var(--light-color);
    border-radius: 40px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 0;
}

.product-container {
    max-width: 1047px;
    margin: 0 auto;
    padding: 50px 0;
}

header .container, .hero-area .container {
    padding: 0; /* Removed padding from header and hero */
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Header CSS */
header {
    padding: 30px 0;
}

.site-logo {
    font-size: var(--x-small-heading);
    font-weight: 700;
}

nav,
.menu-icon {
    display: flex;
    gap: 30px;
    align-items: center;
}

.site-logo,
.menu-icon i {
    cursor: pointer;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

/* Hero Area CSS */
.hero-flex {
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 140px;
}

.hero-image {
    background-image: url('../images/circle-design.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Brand Area CSS */
.brand-images {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 30px 0;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, rgba(192, 204, 218, 0.10), rgba(192, 204, 218, 0.60), rgba(192, 204, 218, 0.10));
    border-image-slice: 1;
}

/* Product Area */
.product-title {
    text-align: center;
    margin-bottom: 50px;
}

.product-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 50px;
}

.item {
    background-color: var(--light-color);
    box-shadow: var(--shadow-color);
    padding: 15px;
    border-radius: 5px;
}

.item img {
    margin-bottom: 10px;
}

.product-rating .fas, 
.product-rating span, 
.product-info p {
    font-size: 14px;
    margin-bottom: 4px;
    color: var(--light-gray-color);
}

.product-rating {
    margin-bottom: 8px;
}

.fas.filled {
    color: rgb(251, 130, 0);
}

.fas.empty {
    color: rgba(108, 108, 108, 0.25);
}

.product-more a {
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-end;
}

/* Footer Styles */
.footer {
    background-color: var(--footer-bg-color);
    color: var(--light-color);
    text-align: center;
}

.copyright-text {
    font-weight: 500;
}

.footer-social a i {
    color: var(--light-color);
    margin: 0 8px;
    background-color: #22203b;
    padding: 10px;
    border-radius: 50px;
}