/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

/* Variables CSS */
:root {
    /* Default Colors */
    --primary-color: #3A3A3A;
    --secondary-color: #E02C6D;
    --animation-color: #FF5858;
    --light-color: #FFFFFF;
    --light-gray-color: #6C6C6C;
    --footer-bg-color: #0A0826;

    /* Font and Typo */
    --large-heading: 52px;
    --medium-heding: 38px;
    --small-heading: 28px;
    --x-small-heading: 24px;
    --body-text: 16px;
    --small-text: 14px;

    /* Box Shadow */
    --shadow-color: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

/* Layout and Base CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 600;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}


p {
    margin-bottom: 15px;
}

h1 {
    font-size: var(--large-heading);
    line-height: 70px;
    font-weight: 700;
    margin-bottom: 15px;
}

.animated {
    background: linear-gradient(to right, #3A3A3A 50%, #FF5858 50%, #E02C6D);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s ease-out;
}

.animated:hover {
    background-position: -100%;
}

h2 {
    font-size: var(--medium-heding);
    line-height: 60px;
    font-weight: 700;
    margin-bottom: 10px;
}

h3 {
    font-size: var(--small-heading);
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 8px;
}

h4 {
    font-size: var(--x-small-heading);
    line-height: 40px;
    font-weight: 500;
    margin-bottom: 5px;
}

.button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: var(--secondary-color);
    padding: 10px 24px;
    color: var(--light-color);
    border-radius: 40px;
    transition: .5s ease-in-out;
}

.button:hover {
    background: var(--animation-color);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 0;
}

.s-container {
    max-width: 1047px;
    margin: 0 auto;
    padding: 50px 0;
}

header .container,
.hero-area .container {
    padding: 0;
    /* Removed padding from header and hero */
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Header CSS */
header {
    padding: 30px 0;
}

.site-logo {
    font-size: var(--x-small-heading);
    font-weight: 700;
}

nav,
.menu-icon {
    display: flex;
    gap: 30px;
    align-items: center;
}

.site-logo,
.menu-icon i {
    cursor: pointer;
}

.menu-icon i {
    transition: color .2s ease-in-out;
}
.menu-icon i:hover {
    color: var(--secondary-color);
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu li a {
    position: relative;
    transition: color .2s ease-in-out;
}

.menu li a:hover {
    color: var(--secondary-color);
}

.menu li a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    margin-bottom: -5px;
    height: 2px;
    background-color: var(--secondary-color);
    transition: width .2s ease-in-out;
}

.menu li a:hover::before {
    width: 100%;
}

/* Hero Area CSS */
.hero-flex {
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 140px;
}

.hero-image {
    background-image: url('../images/circle-design.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-contant .button i {
    transition: transform .5s ease;
}


.hero-contant .button:hover i {
    transform: translateX(5px);
}

/* Brand Area CSS */
.brand-images {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 30px 0;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, rgba(192, 204, 218, 0.10), rgba(192, 204, 218, 0.60), rgba(192, 204, 218, 0.10));
    border-image-slice: 1;
}

.brand-images img {
    cursor: pointer;
}

/* Product Area */
.product-title {
    text-align: center;
    margin-bottom: 50px;
}

.product-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 50px;
}

.item {
    background-color: var(--light-color);
    box-shadow: var(--shadow-color);
    padding: 15px;
    border-radius: 5px;
}

.item img {
    margin-bottom: 10px;
}

.product-rating .fas,
.product-rating span,
.product-info p {
    font-size: 14px;
    margin-bottom: 4px;
    color: var(--light-gray-color);
}

.product-rating {
    margin-bottom: 8px;
}

.fas.filled {
    color: rgb(251, 130, 0);
}

.fas.empty {
    color: rgba(108, 108, 108, 0.25);
}

.product-more a {
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-end;
    transition: color .5s ease-in-out;
}

.product-more a:hover {
    color: var(--animation-color);
}

/* Newsletter CSS */
.newsletter-card {
    padding: 40px 80px;
    box-shadow: var(--shadow-color);
    text-align: center;
    border-radius: 5px;
}

.newsletter-form {
    display: flex;
    justify-content: center;
}

.newsletter-form input[type="email"] {
    padding: 10px 24px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid rgba(192, 204, 218, 0.6);
    border-radius: 40px 0 0 40px;
}

.newsletter-form input[type="email"]:focus {
    outline: none;
}

.newsletter-form input[type="button"] {
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 0 40px 40px 0;
}


/* Footer Styles */
.footer {
    background-color: var(--footer-bg-color);
    color: var(--light-color);
    text-align: center;
}

.copyright-text {
    font-weight: 500;
}

.footer-social a i {
    color: var(--light-color);
    margin: 0 8px;
    background-color: #22203b;
    padding: 10px;
    border-radius: 50px;
}